.ui-stylizer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #656565;
  font-family: arial;
  font-size: 13px;
  
  z-index: 2147483647;
}

/* Stylizer, based upon .ui-dialog
----------------------------------*/
.ui-stylizer .ui-stylizer-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-stylizer .ui-stylizer-title { float: left; margin: .1em 0 .2em; } 
.ui-stylizer .ui-stylizer-titlebar-button { float: right; height: 16px; line-height: 16px; padding: 2px; margin-left: .5em;}
.ui-stylizer .ui-stylizer-titlebar-button span { float: left; margin: 1px; }
.ui-stylizer .ui-stylizer-titlebar-button:hover, .ui-stylizer .ui-stylizer-titlebar-button:focus { }
.ui-stylizer .ui-stylizer-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-stylizer .ui-stylizer-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-stylizer .ui-stylizer-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }

.ui-stylable-indicator {
  position: absolute;
  border: solid 3px #ff8c00;
  padding: 3px;
  margin-top: -6px;
  margin-left: -6px;
  
  z-index: 2147483646; /* int max - 1 */

  -moz-box-shadow: 0px 0px 8px #ff8c00;
}

.ui-stylizer .ui-widget-content table {
  border: 0;
  border-collapse: separate;
  width: 100%;
}
.ui-stylizer .ui-widget-content table td {
  vertical-align: top;
}
.ui-stylizer-input-wrapper {
  clear: both;
  padding: 2px 0;
}
.ui-stylizer-input-wrapper label {
  float: left;
  text-align: left;
  width: 100px;
}
.ui-stylizer-input-wrapper .ui-stylizer-input {
  margin-left: 120px;
}